{{myinfomstate}}
<div class="behindBg"></div>
<div class="popup_in">
    <div class="con">
        <h3>Setting <span>Audio & Video settings</span></h3>
        <dl>
            <dt class="popVideo">
                {{#if isSafari}}
                    <video id="my_Video" width="100%" height="" autoplay playsinline muted></video>
                {{else}}
                    <video id="my_Video" width="100%" height="" autoplay muted></video>
                {{/if}}
                <div class="cameraBg"></div>
                <div class="soundBg"></div>
            </dt>
            <dd class="hName" {{action "changeDisplayName" on="click"}}>
                <strong>✍️</strong>
                <strong id="labeldisplayname" class="nc">{{myinfo.displayname}}</strong>
                <input id="inputdisplayname" type="text" value={{myinfo.displayname}} title="display name" style="display:none;">
                {{!-- <span>(Host)</span> --}}
            </dd>
        </dl>
        <dl>
            <dt>Video quality</dt>
            <dd class="radio">
                <input type="radio" id="high" name="video"><label for="high">High</label>
                <input type="radio" id="low" name="video"><label for="low" class="last">Low</label>
                <img id="videoqualityinfo" src="../img/video/info.svg" alt="videoInfo">
                {{!-- <!-- video info memo--> --}}
                <div class="vMemo">
                    <p>Change to low resolution to improve call quality.</p>
                </div>
                {{!-- <!-- video info memo:end--> --}}
            </dd>
        </dl>
        {{#unless videodevicelist}}
            <div class="Noti">No camera has been detected.</div>
        {{/unless}}
        <dl id="cameraselect">
            <dt>Camera</dt>
            <dd style="overflow: unset;">
                <div class="left custom-select" {{action "dropdown" "video" on="click"}} style="overflow: unset;">
                    <div id="selectvideo" class="select-selected">{{selectvideodevice}}</div>
                    <div id="videolist" class="select-items select-hide">
                        {{#each videodevicelist as |videodevice|}}
                            <div {{action "changedevice" "video"  videodevice.deviceId on="click"}}>{{videodevice.label}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="right">
                    <strong>On</strong>
                    <div class="bar on" id="pCam">
                        <button  {{action "mediaonoff" "cam" on="click"}}>on</button>
                    </div>
                </div>
            </dd>
        </dl>

        <dl>
            <dt>Microphone</dt>
            <dd style="overflow: unset;">
                <div class="left custom-select" {{action "dropdown" "mic" on="click"}} style="overflow: unset;">
                    <div id="selectmic"class="select-selected">{{selectmicdevice}}</div>
                    <div id="miclist" class="select-items select-hide">
                        {{#each micdevicelist as |micdevice|}}
                            <div {{action "changedevice" "mic"  micdevice.deviceId on="click"}}>{{micdevice.label}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="right">
                    <strong>On</strong>
                    <div class="bar on" id="pAudio">
                        <button {{action "mediaonoff" "audio" on="click"}}>on</button>
                    </div>
                </div>
            </dd>
        </dl>

        {{!-- <dl>
            <dt>Sound ouput</dt>
            <dd>
                <div class="left">
                    <select title="" class="selecth">
                        <option value="">Dfalut - Headphnes</option>
                    </select>
                </div>
            </dd>
        </dl> --}}

        <div class="btn_block"><button {{action "saveSetting" on="click"}}>Save settings</button></div>
        <div class="close"><button {{action "closePopup" on="click"}}><img src="../img/video/btn_close.svg" alt="close"></button></div>
    </div>
    {{!-- <!-- con:end --> --}}
</div>
{{!-- <!--popup_in:end --> --}}
